.user{
    margin: 20px 0px;
    padding: 12px;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
    height: 20%;
    text-decoration: none;
    border-bottom: 1px solid black;
    font-family: 'Karla';
}

.avatar{
    width: 100%; 
    height: 100%;
}

.avatar-container{
    width: 160px;
    height: 160px;
    position: relative; 
    border-radius: 50%; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
}

h5 {
    text-decoration: none;
    color: black;
}

.userinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
    align-items: center;
    text-align: center;
}

.name{
    width: fit-content;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.name h1{
    margin-bottom: 4px;
    margin-top: 4px;
}

.status{
    width: fit-content;
}

.btn-block{
    width: 10%;
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.openprofile{
    background-color: rgb(110, 112, 106);
    cursor: pointer;
    transition: 0.5s;
}

.openprofile:hover{
    background-color: rgb(76, 77, 72);
}

.reqsended{
    background-color: rgb(165, 136, 89);
    cursor: pointer;
    transition: 0.5s;
}

.sendmsg{
    background-color: rgb(140, 128, 67);
    cursor: pointer;
    transition: 0.5s;
}

.sendmsg:hover{
    background-color: rgb(112, 100, 43);
}

.addfriend{
    background-color: rgb(75, 113, 74);
    cursor: pointer;
    transition: 0.5s;
}

.addfriend:hover{
    background-color: rgb(50, 99, 48);
}

.delfriend{
    background-color: rgb(146, 78, 78);
    cursor: pointer;
    transition: 0.5s;
}

.delfriend:hover{
    background-color: rgb(111, 60, 60);
}

.reqtaket{
    background-color: rgb(82, 130, 125);
    cursor: pointer;
    transition: 0.5s;
}
/* rgb(165, 89, 89) */

.btn{
    display: flex;
    justify-content: center;
    width: 120px;
    height: 40px;
    font-family: 'Karla';
    font-size: 108%;
    font-weight: 400;
    cursor: pointer;
    border: none;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-bottom: 4px;
    padding: 6px;
    border-radius: 10px;
    color: white;
}