@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');


body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    box-sizing: border-box;
}

.link-secondary{
    color: grey;
}

.wrapper{
   width: 90%;
   max-width: 1170px;
   margin-left: auto;
   margin-right: auto;
}


.header{
    z-index: 100;
    background-color: white;
    top: 0px;
    position: sticky;
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 10%;
    align-items: center;
    max-height: 300px;
}

.ico{
    margin-left: 8px;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}

a{
    text-decoration: none;
}

.links{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 8px;
}

.link-btn{
    margin-left: 6px;
    margin-right: 6px;
    color: rgb(27, 27, 27);
    font-size: 30px;
    font-family: 'Karla';
    font-weight: 600;
}

.link-secondary{
    border-bottom: 1px solid black;
}


.btn-login{
    margin-left: 6px;
    margin-right: 3px;
    color: aliceblue;
    padding: 8px;
    border-radius: 8px;
    font-family: 'Karla';
    font-size: 120%;
    background-color: black;
}

.btn-signup{
    margin-left: 3px;
    margin-right: 6px;
    color: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 8px;
    border: 1px solid black;
    font-family: 'Karla';
    font-size: 120%;
    background-color: rgb(255, 255, 255);
}